/**
 * Copyright 2014 Scalient LLC
 * All rights reserved.
 *
 * Contains styling for a sticky footer is always pushed to the bottom of the viewport.
 */

@sticky-footer-height: 50px;

.sticky-footer(@prefix: sticky, @height: @sticky-footer-height) {
  .@{prefix}-wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0px auto -@height auto;

    > .@{prefix}-push {
      height: @height;
    }
  }

  .@{prefix}-footer {
    height: @height;
  }
}

.sticky-footer();
